<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
  </head>
  <body>
    <h1>SignUp Page</h1>

    <form action="/api/register" method="post">
      <div>
        <label for="fullName" />Full Name:
        <input type="text" name="fullName" id="fullName" />
      </div>
      <div>
        <label for="email" />Enter Email:
        <input type="email" name="email" id="email" />
      </div>
      <div>
        <label for="password" />Password:
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <label for="confirmPassword" />Password:
        <input type="password" name="confirmPassword" id="confirmPassword" />
      </div>
      <button type="submit">Create Account</button>
    </form>
  </body>
</html>
